.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-size: calc(4px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column {
  border-style: solid;
  border-color: coral;
  float: left;
  margin: 50px 13px 50px;
  width: 30%;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#check {
  float: right;
  length: 2px;
  width: 2px;
}

#check:checked {
  color: yellow;
}

#check:not(:checked) {
  color: white;
}
